.header__selector {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  background-color: var(--color-purple);
  border-radius: var(--border-radius-big);
  cursor: pointer;
  box-shadow: var(--box-shadow-hover);
  border: 1px solid var(--color-purple);
  transition-duration: 0.2s;

  &:hover {
    box-shadow: none;
    background-color: var(--color-hover);
  }
}

.header__selector-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 132px;
  align-items: center;
}

.header__selector-text, .header__selector-icon {
  font-size: 18px;
  line-height: 0;
  text-transform: uppercase;
  color: white;
  user-select: none;
  transition-duration: 0.2s;
}

.header__selector-dropdown-list {
  display: none;
  z-index: 1;
  flex-direction: column;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: white;
  border: var(--border-purple);
  border-radius: var(--border-radius-big);
  transition-duration: 0.2s;
}

.header__selector-dropdown-item {
  font-size: 16px;
  padding: 7px;
  color: var(--color-purple);

  &:hover {
    background-color: rgba(108, 99, 255, 20%);
  }
}

.is-visible-button {
  display: flex;
  transition: 0.2s ease;
}

.is-rotate {
  transform: rotate(180deg);
}

