.todos-empty {
  display: none;
  margin-top: 100px;
  justify-content: flex-start;
  flex-direction: column;
  user-select: none;
}

.todos-empty__message {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--color-black);
  user-select: text;
}

.is-visible {
  display: flex;
}
