@import "normalize.css";
@import "fonts.css";
@import "variables.css";
@import "globals.css";

@import "layouts/header/index.css";
@import "layouts/todos/index.css";
@import "layouts/todos-add/index.css";
@import "layouts/notification-delete/index.css";

@import "media.css";